src/main/resources/example.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
	<doc xml:lang="en" title="example" />
	<resources base="/api/v1">
		<resource path="/thingies" id="thingies">
			<doc xml:lang="en" title="thingies" />
			<resource path="{id}">
				<method name="GET" id="onRetrieve">
					<doc xml:lang="en" title="onRetrieve" />
					<request>
						<param name="id" type="xs:int" required="true" default=""
							style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					</request>
					<response status="200">
						<representation mediaType="application/json" />
					</response>
					<response status="500">
						<representation mediaType="application/json" />
					</response>
					<response status="404">
						<representation mediaType="application/json" />
					</response>
				</method>
				<method name="PUT" id="onUpdate">
					<doc xml:lang="en" title="onUpdate" />
					<request>
						<param name="id" type="xs:int" required="true" default=""
							style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
						<param name="attribute_name" type="xs:string" required="true"
							default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
						<representation mediaType="application/json" />
					</request>
					<response status="200">
						<representation mediaType="application/json" />
					</response>
					<response status="404">
						<representation mediaType="application/json" />
					</response>
					<response status="500">
						<representation mediaType="application/json" />
					</response>
				</method>
				<method name="DELETE" id="onDelete">
					<doc xml:lang="en" title="onDelete" />
					<request>
						<param name="id" type="xs:int" required="true" default=""
							style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					</request>
					<response status="200">
						<representation mediaType="application/json" />
					</response>
					<response status="404">
						<representation mediaType="application/json" />
					</response>
					<response status="500">
						<representation mediaType="application/json" />
					</response>
				</method>
			</resource>
			<method name="GET" id="onList">
				<doc xml:lang="en" title="onList" />
				<request />
				<response status="200">
					<representation mediaType="application/json" />
				</response>
				<response status="400">
					<representation mediaType="application/json" />
				</response>
				<response status="500">
					<representation mediaType="application/json" />
				</response>
			</method>
			<method name="POST" id="onCreate">
				<doc xml:lang="en" title="onCreate" />
				<request>
					<param name="attribute_name" type="xs:string" required="true"
						default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<representation mediaType="application/json" />
				</request>
				<response status="200">
					<representation mediaType="application/json" />
				</response>
				<response status="400">
					<representation mediaType="application/json" />
				</response>
				<response status="500">
					<representation mediaType="application/json" />
				</response>
			</method>
		</resource>
	</resources>
</application>