src/main/resources/example.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="example"/>
  <resources base="http://localhost/api">
    <resource path="thingies" id="thingies">
      <doc xml:lang="en" title="thingies"/>
      <param name="id" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
      <method name="GET" id="onRetrieve">
        <doc xml:lang="en" title="onRetrieve"/>
        <request/>
      </method>
      <method name="GET" id="onList">
        <doc xml:lang="en" title="onList"/>
        <request/>
      </method>
      <method name="PUT" id="onUpdate">
        <doc xml:lang="en" title="onUpdate"/>
        <request>
          <param name="attribute_name" type="xs:string" required="true" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        </request>
      </method>
      <method name="DELETE" id="onDelete">
        <doc xml:lang="en" title="onDelete"/>
        <request/>
      </method>
    </resource>
  </resources>
</application>